html {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

img {
    width: 100%;
    border: 5px solid;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}
